---
import GithubLogo from "../assets/GithubLogo.png";
import YoutubeLogo from "../assets/youtube.png";
import WeatherLogo from "../assets/weather.png";
import SunLogo from "../assets/sun.png"
---

<div class="container">
    <div class="project-info-wrapper">
        <p class="projects-intro">Projects</p>
        <p class='project-info"'>
            This is a collection of the projects I'm most proud of. Some of
            which are done with a group of developers, others are solo projects.
            Included are links to the project's repository and either a demo
            show on youtube or the actual static site that could be used.
        </p>
    </div>
    <div class="project-wrapper ecommerce-site">
        <div class="project-body">
            <h3>NAJ Clothing</h3>
            <div class="underline"></div>
            <div class="project-links">
                <a
                    href="https://github.com/JoshM-Yoru/ecommerce-project"
                    target="_blank"
                >
                    <img src={GithubLogo} alt="Github Logo" class="github" loading="lazy"  />
                    Repo
                </a>
                <a href="https://youtu.be/ECdx8Kc_1Wc" target="_blank">
                    <img src={YoutubeLogo} alt="Youtube Logo" class="youtube" loading="lazy"  />
                    Demo
                </a>
            </div>
        </div>
    </div>
    <div class="project-wrapper goodbank-app">
        <div class="project-body">
            <h3>GoodBank</h3>
            <div class="underline"></div>
            <div class="project-links">
                <a
                    href="https://github.com/JoshM-Yoru/Banking-App"
                    target="_blank"
                >
                    <img src={GithubLogo} alt="Github Logo" class="github" loading="lazy"  />
                    Repo
                </a>
                <a href="https://youtu.be/ECdx8Kc_1Wc" target="_blank">
                    <img src={YoutubeLogo} alt="Youtube Logo" class="youtube" loading="lazy"  />
                    Demo
                </a>
            </div>
        </div>
    </div>
    <div class="project-wrapper weather-app">
        <div class="project-body">
            <h3>Weather App</h3>
            <div class="underline"></div>
            <div class="project-links">
                <a
                    href="https://github.com/JoshM-Yoru/weather-app"
                    target="_blank"
                >
                    <img src={GithubLogo} alt="Github Logo" class="github" loading="lazy"  />
                    Repo
                </a>
                <a
                    href="https://joshm-yoru.github.io/weather-app/"
                    target="_blank"
                >
                    <img src={WeatherLogo} alt="Weather Logo" class="weather" loading="lazy" />
                    Site
                </a>
            </div>
        </div>
    </div>
    <div class="project-wrapper portfolio">
        <div class="project-body">
            <h3>Portfolio Site</h3>
            <div class="underline"></div>
            <div class="project-links">
                <a
                    href="https://github.com/JoshM-Yoru/Portfolio-Site"
                    target="_blank"
                >
                    <img src={GithubLogo} alt="Github Logo" class="github" loading="lazy" />
                    Repo
                </a>
                <a
                    href="https://joshua-maciel-portfolio.vercel.app"
                    target="_blank"
                >
                    <img src={SunLogo} alt="Sun Logo" class="github" loading="lazy" />
                    Site
                </a>
            </div>
        </div>
    </div>
</div>

<style>
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .projects-intro {
        font-size: 2.5rem;
        font-weight: bold;
        margin: 2rem 1rem;
    }

    .project-info-wrapper {
        font-size: 1.2em;
        width: 80%;
    }

    h2 {
        margin-block: 1.5rem;
    }

    h3 {
        width: 100%;
        text-align: right;
        margin-top: -1%;
        padding: 0.5rem;
        color: white;
        text-shadow: 0 0 3px black;
    }

    .underline {
        content: "";
        position: absolute;
        height: 4px;
        width: 45%;
        background: linear-gradient(90deg, #d134b7 15%, #787ff4 80%);
        background-size: 100%;
        top: 20%;
        right: 0;
    }

    .ecommerce-site {
        background-image: url(../assets/NAJclothing.png);
    }

    .goodbank-app {
        background-image: url(../assets/goodbankwelcome.png);
    }

    .weather-app {
        background-image: url(../assets/weatherapp.png);
    }

    .portfolio {
        background-image: url(../assets/portfoliosite.png);
        background-size: cover;
    }

    .project-wrapper {
        background-size: cover;
        width: 100%;
        max-width: 400px;
        aspect-ratio: 1.9;
        overflow: hidden;
        margin: 1.5rem 0.5rem;
        position: relative;
    }

    .project-wrapper:hover,
    .project-wrapper:focus-within {
        transform: scale(1.05);
    }

    .project-wrapper:hover .underline {
        transform: scaleX(1);
    }

    .project-wrapper:hover .project-body,
    .project-wrapper:focus-within .project-body {
        transform: translateY(0);
        transition-delay: 450ms;
    }

    .project-wrapper:focus-within .project-body {
        transition-duration: 0ms;
    }

    .project-body {
        min-height: 100%;
        width: 100%;
        background: linear-gradient(hsl(0 0% 0% / 0), hsl(0 0% 0% / 0.7));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    @media (hover) {
        .underline {
            transform: scaleX(0);
            transition: transform 200ms ease;
            transform-origin: right;
        }
        .project-wrapper {
            transition: transform 400ms ease;
        }
        .project-body {
            transform: translateY(75%);
            transition: transform 300ms ease;
        }
        a {
            transition: background 200ms linear;
        }
    }

    .project-links {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    a {
        cursor: pointer;
        margin-inline: 1rem;
        padding: 1rem;
        text-decoration: none;
        text-align: center;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        color: #bdcad9;
        font-weight: bold;
    }

    a:hover {
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(1px);
    }

    .github {
        height: 80px;
    }

    .youtube {
        height: 55px;
        margin: 10px 0 12px 0;
    }

    .weather {
        height: 80px;
    }

    a:visited {
        color: #bdcad9;
        font-weight: bold;
    }
</style>
