---
import ReactLogo from "../assets/react.png";
import TSLogo from "../assets/typescript.png";
import JSLogo from "../assets/javascript.png";
import HTMLLogo from "../assets/html.png";
import CSSLogo from "../assets/css.png";
import SCLogo from "../assets/styledcomponents.png";
import SpringLogo from "../assets/spring.png";
import JavaLogo from "../assets/java.png";
import PostgesLogo from "../assets/postgres.png";
import JenkinsLogo from "../assets/jenkins.png";
import DockerLogo from "../assets/docker.png";
import AWSLogo from "../assets/aws.png";
import FedoraLogo from "../assets/fedora.png";
import NVimLogo from "../assets/neovim.png";
import VimLogo from "../assets/vim.png";
import PostmanLogo from "../assets/postman.png";
import DBeaverLogo from "../assets/dbeaver.png";
import RustLogo from "../assets/rust.png";
import AstroLogo from "../assets/astro.png";
import ThreeJSLogo from "../assets/ThreeJSLogo.png";
import NextJSLogo from "../assets/NextJSLogo.png";
---

<div class="technologies-container">
    <h2 class="hidden hidden-left">Technologies</h2>
    <div class="wrapper">
        <img
            class="hidden hidden-zoom"
            src={ReactLogo}
            loading="lazy"
            alt="React Logo"
        />
        <img
            class="hidden hidden-zoom"
            src={TSLogo}
            loading="lazy"
            alt="Typescript Logo"
        />
        <img
            class="hidden hidden-zoom"
            src={JSLogo}
            loading="lazy"
            alt="Javascript Logo"
        />
        <img
            class="hidden hidden-zoom"
            src={HTMLLogo}
            loading="lazy"
            alt="HTML5 Logo"
        />
        <img
            class="hidden hidden-zoom"
            src={CSSLogo}
            loading="lazy"
            alt="CSS3 Logo"
        />
        <img
            class="hidden hidden-zoom"
            src={SCLogo}
            loading="lazy"
            alt="Styled Components Logo"
        />
        <img
            class="hidden hidden-zoom"
            src={SpringLogo}
            loading="lazy"
            alt="Spring Logo"
        />
        <img
            class="hidden hidden-zoom"
            src={JavaLogo}
            loading="lazy"
            alt="Java Logo"
        />
        <img
            class="hidden hidden-zoom"
            src={PostgesLogo}
            loading="lazy"
            alt="PostgreSQL Logo"
        />
        <img
            class="hidden hidden-zoom"
            src={JenkinsLogo}
            loading="lazy"
            alt="Jenkins Logo"
        />
        <img
            class="hidden hidden-zoom"
            src={DockerLogo}
            loading="lazy"
            alt="Docker Logo"
        />
        <img
            class="hidden hidden-zoom"
            src={AWSLogo}
            loading="lazy"
            alt="AWS Logo"
        />
        <img
            class="hidden hidden-zoom"
            src={AstroLogo}
            loading="lazy"
            alt="Astro Logo"
        />
    </div>
    <h2 class="hidden hidden-left">Tools</h2>
    <div class="wrapper">
        <img
            class="hidden hidden-zoom"
            src={FedoraLogo}
            loading="lazy"
            alt="Fedora Linux Logo"
        />
        <img
            class="hidden hidden-zoom"
            src={NVimLogo}
            loading="lazy"
            alt="Neovim Logo"
        />
        <img
            class="hidden hidden-zoom"
            src={VimLogo}
            loading="lazy"
            alt="Vim Logo"
        />
        <img
            class="hidden hidden-zoom"
            src={PostmanLogo}
            loading="lazy"
            alt="Postman Logo"
        />
        <img
            class="hidden hidden-zoom"
            src={DBeaverLogo}
            loading="lazy"
            alt="DBeaver Logo"
        />
    </div>
    <h2 class="hidden hidden-left">Currently Learning</h2>
    <div class="wrapper">
        <img
            class="hidden hidden-zoom"
            src={RustLogo}
            loading="lazy"
            alt="Rust Logo"
        />
        <img
            class="hidden hidden-zoom"
            src={ThreeJSLogo}
            loading="lazy"
            alt="ThreeJS Logo"
        />
        <img
            class="hidden hidden-zoom"
            src={NextJSLogo}
            loading="lazy"
            alt="NextJS Logo"
        />
    </div>
</div>

<style>
    .technologies-container {
        padding: 0 2rem;
        width: 85%;
        margin: auto;
        overflow-x: hidden;
    }
    h2 {
        margin-block: 2rem;
        width: fit-content;
    }
    .wrapper {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    img {
        height: 100px;
        width: auto;
        padding: 0.5rem;
        margin: 0.5rem;
    }
</style>
