---
import YoutubeLogo from "../assets/youtube.png";

import { atom } from "nanostores";

export const showVideo = atom<boolean>(false);

export const setShowVideo = (b: boolean) => {
    showVideo.set(b);
};
export interface Props {
    title: string;
    body: string;
    src: string;
    href: string;
    id: string;
}

const { src, title, body, href, id } = Astro.props;

const imageLinkPrefix: string = "https://i.imgur.com/";

const linkedImage = imageLinkPrefix + id;
---

<div class="link-card">
    <h2>
        {title}
    </h2>
    <p>
        {body}
    </p>
    <div class="video-container" onclick="handleVideo()">
        {
            showVideo ? (
                <iframe
                    loading="lazy"
                    src={href}
                    title="YouTube video player"
                    frameBorder={"0"}
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowFullScreen
                />
            ) : (
                <div class="lazy-loading-content image-container">
                    <div class="preview-wrapper">
                        <img
                            class="preview-image"
                            src={linkedImage}
                            alt={title}
                        />
                        <button>
                            <img
                                class="play-button"
                                src={YoutubeLogo}
                                alt="play"
                            />
                        </button>
                    </div>
                </div>
            )
        }
    </div>
</div>

<script client:load>
    function handleVideo() {
        setShowVideo(true);
        console.log("test");
    }
    /* <iframe */
    /*     loading="lazy" */
    /*     src={href} */
    /*     title="YouTube video player" */
    /*     frameborder="0" */
    /*     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" */
    /*     allowfullscreen></iframe> */

    /* const parentContainer = document.querySelector(".video-container"); */

    /* parentContainer.addEventListener("click", function () { */
    /*   // remove the image container */
    /*   const lazyLoadingChild = document.querySelector(".lazy-loading-content"); */
    /*   parentContainer.removeChild(lazyLoadingChild); */

    /*   // create a new responsive video container */
    /*   const responsiveVideoContainer = document.createElement("div"); */

    /*   // apply responsive classes from bootstrap */
    /*   responsiveVideoContainer.classList.add( */
    /*     "embed-responsive", */
    /*     "embed-responsive-16by9" */
    /*   ); */

    /*   // create the iFrame with the video embed */
    /*   const videoIframe = document.createElement("iframe"); */

    /*   videoIframe.classList.add("embed-responsive-item"); */

    /*     videoIframe.src = href; */
    /*     console.log(href); */

    /*   videoIframe.setAttribute("allow", "autoplay"); */

    /*   // add the iFrame to the video container */
    /*   responsiveVideoContainer.appendChild(videoIframe); */

    /*   // add the video container to the parent container */
    /*   parentContainer.appendChild(responsiveVideoContainer); */
    /* }); */
</script>

<style>
    .link-card {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        margin: 0.5rem 0;
        background: rgba(50, 50, 50, 0.25);
        border-radius: 7px;
        width: 100%;
    }

    h2 {
        margin: 0;
    }
    p {
        margin: 0.5rem 0 1rem 0;
    }
    iframe,
    .preview-wrapper {
        margin: 0 auto;
    }

    iframe {
        height: 255px;
        width: 480px;
    }

    .video-container {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .preview-wrapper {
        overflow: hidden;
        height: 255px;
        width: auto;
        position: relative;
    }
    .preview-image {
        margin-top: -55px;
    }
    .play-button {
        z-index: 9;
        height: 100%;
    }
    button {
        z-index: 9;
        position: absolute;
        height: 20%;
        top: 40%;
        left: 40%;
        margin: 0 auto;
        border: none;
        background: transparent;
        cursor: pointer;
    }

    @media (min-width: 1100px) {
        iframe {
            width: 500px;
            height: 255px;
        }
    }
</style>
